In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df_bir = pd.read_csv('kualitas_bir.csv',sep=';')
df_bir.head()

,keasaman tetap,keasaman yang mudah menguap,asam sitrat,sisa gula,klorida,sulfur dioksida bebas,sulfur total dioksida,massa jenis,pH,sulfat,alkohol,kualitas
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
def ranker(df):
    df['alk_rank'] = np.arange(len(df)) +1
    return df

In [4]:
df_bir.head()

,keasaman tetap,keasaman yang mudah menguap,asam sitrat,sisa gula,klorida,sulfur dioksida bebas,sulfur total dioksida,massa jenis,pH,sulfat,alkohol,kualitas
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
df_bir.sort_values('alkohol',ascending = False,inplace=True)

In [6]:
df_bir = df_bir.groupby('kualitas').apply(ranker)

In [7]:
df_bir.head()

,keasaman tetap,keasaman yang mudah menguap,asam sitrat,sisa gula,klorida,sulfur dioksida bebas,sulfur total dioksida,massa jenis,pH,sulfat,alkohol,kualitas,alk_rank
652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,1
142,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,1
144,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,2
1270,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6,3

In [8]:
nilai_kual =df_bir['kualitas'].value_counts()

In [9]:
nilai_kual

5    681
6    638
7    199
4     53
8     18
3     10
Name: kualitas, dtype: int64

In [10]:
df_bir[df_bir.alk_rank == 2].head(len(nilai_kual))

,keasaman tetap,keasaman yang mudah menguap,asam sitrat,sisa gula,klorida,sulfur dioksida bebas,sulfur total dioksida,massa jenis,pH,sulfat,alkohol,kualitas,alk_rank
144,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,2
1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8,2
1228,5.1,0.42,0.00,1.8,0.044,18.0,88.0,0.99157,3.68,0.73,13.6,7,2
353,13.5,0.53,0.79,4.8,0.120,23.0,77.0,1.00180,3.18,0.77,13.0,5,2
1276,8.5,0.40,0.40,6.3,0.050,3.0,10.0,0.99566,3.28,0.56,12.0,4,2
1299,7.6,1.58,0.00,2.1,0.137,5.0,9.0,0.99476,3.50,0.40,10.9,3,2